$green: #7ab97a;
$red: #b36868;
$yellow: #f1e36a;

.diff-side-by-side {
    display: flex;
    width: 100%;

    .diff-side-by-side-pane {
        width: 100%;
    }
}

.diff {
    background: #f8f5ec;
}

.diff-inline {
    font-family: monospace;
    // display: table;

    .row {
        display: flex;
        // display: table-row;

        .cell {
            padding: 0.25em 0.5em;
            // width: 100%;
            // display: table-cell;

            pre {
                margin: 0;
            }
        }

        .gutter {
            width: auto;
            background: #f1ede4;
            width: 6em;
            text-align: right;

            &.changed {
                background: $yellow;
            }
        }

        &.insert {
            background: $green;

            .gutter {
                background: darken($green, 10%);
            }
        }

        &.delete {
            background: $red;

            .gutter {
                background: darken($red, 10%);
            }
        }
    }
}

.diff-change-enter {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.diff-change-enter.diff-change-enter-active {
    max-height: 100px;
    opacity: 1;
    transition: max-height 1000ms ease-in, opacity 500ms ease-in;
}

.diff-change-leave {
    max-height: 100px;
    opacity: 1;
    overflow: hidden;
}

.diff-change-leave.diff-change-leave-active {
    max-height: 0;
    opacity: 0;
    transition: max-height 1000ms ease-in, opacity 500ms ease-in;
}
